@import "tailwindcss";

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-color: #e50914;
  --p-color: #6e6c7d;
  --hover-btn: #c11119;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}
/* container */
/* px-[2rem] lg:px-[9rem] */
